.toast-notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #173b1d;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    font-family: "Reddit Mono", monospace;
    animation: fadeInOut 3s ease;
  }
  
  @keyframes fadeInOut {
    0% { opacity: 0; transform: translateY(100%); }
    10% { opacity: 1; transform: translateY(0); }
    90% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(100%); }
  }
  