<!-- app.component.html -->
<nav class="navbar">
  <div class="logo">
    <a href="/">
      <img src="assets/logo.png" alt="Logo">
    </a>
  </div>
  <div class="nav-buttons">
    <ng-container *ngIf="!authService.isAuthenticated(); else loggedIn">
      <button routerLink="/login">Iniciar Sesión</button>
      <button routerLink="/register">Registrarse</button>
    </ng-container>
    <ng-template #loggedIn>
      <div class="welcome">
        <span class="username">Hola, {{ authService.getUsername() }}</span>
        <button routerLink="/profile">Perfil</button>
        <button (click)="logout()">Cerrar Sesión</button>
      </div>
    </ng-template>
  </div>
</nav>

<div class="content">
  <router-outlet></router-outlet>
</div>
