/* Register component styles */
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('/assets/background-image.jpg') no-repeat center center fixed;
  background-size: cover;
  position: relative;
  font-family: "Reddit Mono", monospace;
}

.register-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(1px); /* Difuminado */
  z-index: 1;
}

/* Estilos para la ventana modal */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 3; /* Ajustar el z-index para que aparezca por encima del formulario */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 400px;
  text-align: center;
  color: #ffffff;
  position: relative;
}

.close {
  color: #ffffff;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #ff0000;
  text-decoration: none;
  cursor: pointer;
}

.register-form {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 3rem;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #ffffff;
  width: 350px; /* Tamaño mayor */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
}

.register-form h2 {
  margin-bottom: 1.5rem;
  font-size: 26px; /* Tamaño mayor */
}

.form-group {
  margin-bottom: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.form-group input {
  width: 100%;
  padding: 0.75rem; /* Aumentar padding */
  border: none;
  border-radius: 5px;
  margin-top: 0.5rem;
}

.form-group .error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  text-align: left;
  width: calc(100%);
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

button {
  background-color: #ffffff;
  color: #000000;
  padding: 1rem; /* Aumentar padding */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 18px; /* Tamaño mayor */
  font-family: "Reddit Mono", monospace;
}

button:hover {
  background-color: #f1f1f1;
}

.login-link {
  margin-top: 1.5rem;
  font-size: 16px; /* Tamaño mayor */
}

.login-link a {
  color: #ffffff;
  text-decoration: underline;
}

/* Ajustar las clases de la ventana modal */
.modal p {
  margin: 0;
}

.modal a {
  color: #00ff00;
  text-decoration: underline;
}

.modal a:hover {
  color: #00cc00;
}
