html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 220px;
  height: 100vh;
  background: #1a1a1a;
  padding: 10px;
  box-sizing: border-box;
}

.genre-buttons button {
  display: flex; /* Ajuste para alinear íconos y texto */
  align-items: center; /* Centra el contenido verticalmente */
  background: #333;
  color: #fff;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  border-radius: 20px; /* Bordes redondeados */
  font-family: "Reddit Mono", monospace;
  transition: background-color 0.1s ease;
}

.genre-buttons button:hover {
  background-color: #444;
}

.genre-buttons button img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.genre-buttons button i.icon-placeholder {
  margin-right: 10px; /* Espacio entre el ícono y el texto */
  /* Estilos temporales para el ícono, reemplazar con el ícono específico más tarde */
  width: 16px;
  height: 16px;
  background: #fff; /* Color de ejemplo para visualizar el espacio del ícono */
  display: inline-block;
  border-radius: 50%; /* Ícono redondeado */
}

.game-container {
  margin-left: 210px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  background: #202020;
  min-height: 100vh;
}

.game-card {
  background: #333;
  color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  transition: transform 0.3s;
  font-family: "Josefin Sans", sans-serif;
}

.game-card:hover {
  transform: translateY(-5px);
}

.game-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.game-info {
  padding: 10px;
}

.rating {
  background: #666;
  padding: 5px;
  border-radius: 5px;
}