<div class="sidebar">
  <div class="genre-buttons">
    <button (click)="loadGames('4')">Acción</button>
    <button (click)="loadGames('51')">Indie</button>
    <button (click)="loadGames('3')">Aventura</button>
    <button (click)="loadGames('5')">RPG</button>
    <button (click)="loadGames('10')">Estrategia</button>
    <button (click)="loadGames('2')">Shooter</button>
    <button (click)="loadGames('40')">Casual</button>
    <button (click)="loadGames('7')">Puzzle</button>
    <button (click)="loadGames('11')">Arcade</button>
    <button (click)="loadGames('83')">Plataformeo</button>
    <button (click)="loadGames('1')">Carreras</button>
    <button (click)="loadGames('59')">Multijugador</button>
    <button (click)="loadGames('15')">Deporte</button>
    <button (click)="loadGames('6')">Peleas</button>
  </div>
</div>

<div class="game-container">
  <div *ngFor="let game of games" class="game-card">
    <img [src]="game.background_image" alt="game image">
    <div class="game-info">
      <h3>{{ game.name }}</h3>
      <p>{{ game.released }}</p>
      <div class="rating">
        <span>{{ game.rating }}</span> / <span>{{ game.rating_top }}</span>
      </div>
    </div>
  </div>
</div>
