<div class="sidebar">
  <div class="genre-buttons">
    <button (click)="loadGamesByGenre('4')"><img src="../assets/logo-accion.png" alt="Icon">Acción</button>
    <button (click)="loadGamesByGenre('51')"><img src="../assets/logo-indie.png" alt="Icon">Indie</button>
    <button (click)="loadGamesByGenre('3')"><img src="../assets/aventura-logo.png" alt="Icon">Aventura</button>
    <button (click)="loadGamesByGenre('5')"><img src="../assets/rpg-logo.png" alt="Icon">RPG</button>
    <button (click)="loadGamesByGenre('10')"><img src="../assets/estrategia-logo.png" alt="Icon">Estrategia</button>
    <button (click)="loadGamesByGenre('2')"><img src="../assets/shooter-logo.png" alt="Icon">Shooter</button>
    <button (click)="loadGamesByGenre('40')"><img src="../assets/casual-logo.png" alt="Icon">Casual</button>
    <button (click)="loadGamesByGenre('7')"><img src="../assets/logo-puzzle.png" alt="Icon">Puzzle</button>
    <button (click)="loadGamesByGenre('11')"><img src="../assets/arcade-logo.png" alt="Icon">Arcade</button>
    <button (click)="loadGamesByGenre('83')"><img src="../assets/plataformeo-logo.png" alt="Icon">Plataformeo</button>
    <button (click)="loadGamesByGenre('1')"><img src="../assets/carreras-logo.png" alt="Icon">Carreras</button>
    <button (click)="loadGamesByGenre('59')"><img src="../assets/multijugador-logo.png" alt="Icon">Multijugador</button>
    <button (click)="loadGamesByGenre('15')"><img src="../assets/deporte-logo.png" alt="Icon">Deporte</button>
    <button (click)="loadGamesByGenre('6')"><img src="../assets/fight-logo.png" alt="Icon">Peleas</button>
  </div>
</div>

<div class="game-container">
  <div *ngFor="let game of games" class="game-card">
    <img [src]="game.background_image" alt="{{ game.name }} image">
    <div class="game-info">
      <h3>{{ game.name }}</h3>
      <p>{{ game.released }}</p>
      <div class="rating">
        <span>{{ game.metacritic }}</span>
      </div>
      <button class="boton" *ngIf="isAuthenticated" (click)="addToFavorites(game.id)">Agregar a Favoritos</button>
      <button class="boton" (click)="goToGameDetails(game.id)">Ver Detalles</button>
    </div>
  </div>
</div>

<app-toast-notification></app-toast-notification>
